name: Update SchemaStore if necessary

on:
  push:
    branches:
      - "**"
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  update-schemastore:
    name: Update SchemaStore
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'

      - name: Generate schema
        run: |
          go run cmd/ctfd-setup/main.go schema -o ctfd.json

      - name: Checkout SchemaStore
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: SchemaStore/schemastore
          path: schemastore

      - name: Check for schema changes
        id: diff
        run: |
          TARGET=schemastore/src/schemas/json/ctfd.json

          if [ ! -f "$TARGET" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          if diff -u "$TARGET" ctfd.json; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: 'Diff?'
        run: |
          echo "${{ steps.diff.outputs.changed }}"
